<h2>イベントの追加</h2>

<<<<<<< HEAD
 <p>イベント名</p>

 <%= form_with url: events_create_path do |f| %>
   <p><%= f.text_field :name %></p>
   <p><%= f.submit "イベントの作成" %></p>
 <% end %>
=======
<p>イベント名</p>

<%= form_with url: events_create_path do |f| %>
  <p><%= f.text_field :name %></p>
  <p><%= f.submit "イベントの作成" %></p>
<% end %>

>>>>>>> origin/main
